

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int i = 0;
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/projScripts/guventur.js"></script>
<script src="~/Scripts/jquery.mask.js"></script>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <ul class="page-breadcrumb breadcrumb">
            <li class="btn-group">
                <button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                    <span>
                        Menü
                    </span>
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    @if (@ViewBag.Add_Company)
                    {
                        <li>
                            <a href="/Companies/Add_New_Company">
                                Yeni Firma Ekle
                            </a>
                        </li>
                    }
                    <li class="divider">
                    </li>
                    <li>
                        <a href="#">
                            Excel
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Yazdır
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <i class="fa fa-home"></i>
                <a href="/Companies/Index">
                    Anasayfa
                </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="/Companies/Index">
                    Firmalar
                </a>
                <i class="fa fa-angle-right"></i>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Güzergah Listesi
                </div>
                <div class="tools">
                    <a href="javascript:;" class="reload">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                    <thead>
                        <tr>
                            <th> Güzergah</th>
                            <th> Yetkili </th>
                            <th> Tel </th>
                            <th> Yetkili Cep </th>
                            <th> Yetkili E-mail </th>
                            @if (@ViewBag.See_Comp_Accounts)
                            {
                                <th> Alacak </th>
                                <th> Alınan </th>
                                <th> Kalan </th>
                            }
                            @if (@ViewBag.Delete_Company)
                            {
                                <th>#</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var company in @ViewBag.Companies)
                        {
                            <tr>
                                <td><a href="/Companies/Company_Detail/@company.Id"> @company.Service_Name </a></td>
                                <td> @company.Authorized_Name </td>
                                <td> @company.Phone </td>
                                <td> @company.Authorized_Phone </td>
                                <td> @company.Authorized_Email</td>
                                @if (@ViewBag.See_Comp_Accounts)
                                {
                                    <td>@ViewBag.Taken[i] TL</td>
                                    <td> @ViewBag.Payment[i] TL</td>
                                    int total = ViewBag.Taken[i] - ViewBag.Payment[i];
                                    <td> total TL </td>
                                }
                                @if (@ViewBag.Delete_Company)
                                {
                                    int id = company.Id;
                                    <td><a href="#" onclick=" $.deleteCompany(id)">Sil</a></td>
                                }

                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="well">
                            <div class="row static-info align-reverse">
                                <div class="col-md-8 name"> Toplam Güzergah: </div>
                                <div class="col-md-3 value"> @i </div>
                            </div>
                            @if (@ViewBag.See_Comp_Accounts)
                            {
                                <div class="row static-info align-reverse">
                                    <div class="col-md-8 name"> Toplam Alacak: </div>
                                    <div class="col-md-3 value">@ViewBag.TotalTakens TL </div>
                                </div>
                                <div class="row static-info align-reverse">
                                    <div class="col-md-8 name"> Toplam Alınan: </div>
                                    <div class="col-md-3 value"> @ViewBag.TotalPayments TL </div>
                                </div>
                                <div class="row static-info align-reverse">
                                    <div class="col-md-8 name"> Toplam Kalan: </div>
                                    @{ int totalRemaining = ViewBag.TotalTakens - ViewBag.TotalPayments;}
                                    <div class="col-md-3 value"> @totalRemaining TL </div>
                                </div>
                                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END PAGE CONTENT -->